@font-face {
font-family: 'DecimaMonoPro';
src: url('../fonts/DecimaMonoPro.eot');
src: url('../fonts/DecimaMonoPro.eot?#iefix') format('embedded-opentype'),
url('../fonts/DecimaMonoPro.woff2') format('woff2'),
url('../fonts/DecimaMonoPro.woff') format('woff'),
url('../fonts/DecimaMonoPro.svg#webfont') format('svg');
font-weight: normal;
font-style: normal; }

@font-face {
font-family: 'Compacta Std';
src: url('../fonts/CompactaStd.eot');
src: url('../fonts/CompactaStd.eot?#iefix') format('embedded-opentype'),
url('../fonts/CompactaStd.woff2') format('woff2'),
url('../fonts/CompactaStd.woff') format('woff'),
url('../fonts/CompactaStd.svg#webfont') format('svg');
font-weight: normal;
font-style: normal; }
