body, html {
  background: #fff;
  color: #000;
  height: 100%;
}

.c-header {
  padding: 18px;
}

@media (--breakpoint-not-small) {
  .c-borderTitle {
    border-bottom: solid 1px #fff;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}

.c-adiLogo {
  margin-top: 30px;
}

input {
  background: #000;
  border: none;
  border-top: solid 6px #000;
  border-bottom: solid 6px #000;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'DecimaMonoPro';
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

.input-br {
  border-right: solid 1px #fff !important;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #FFF;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #FFF;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #FFF;
}
input::-ms-input-placeholder { /* Microsoft Edge */
 color:    #FFF;
}

button {
  background: #fff;
  border: solid 6px #000;
  font-family: 'DecimaMonoPro';
  color: #000;
  text-align: center;
  outline: none;
  margin: 0;
  padding: 20px 0;
}

